@model IEnumerable<Dominio.Entidades.Dispositivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Alta">Agreagar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacion)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
       
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo.Nombre)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.Valor)
        </td>
         <td>
             @Html.DisplayFor(modelItem => item.Estacion.Nombre)
        </td>
        <td>
            <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
            <a asp-action="Detalles" asp-route-id="@item.Id">Detalle</a> |
            <a asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
        </td>
    </tr>
    }

    </tbody>
</table>


      