@model Dominio.Entidades.TipoDispositivo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Confirmar</h1>

<p>¿Realmente desea eliminar <strong>@Model.Nombre</strong>?</p>
<div>
    <h4>TipoDispositivo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <form asp-action="Eliminar" asp-controller="TipoDispositivo" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>